---
layout: doc
title: Blog
description: Neuigkeiten und Beispielartikel.
eyebrow: Ressourcen
permalink: /blog/
---

<div class="card-grid card-grid-1">
{% for post in site.posts %}
  <a class="card card-link card-blog" href="{{ post.url | relative_url }}">
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d. %B %Y" }}</time>
    <h3>{{ post.title }}</h3>
    {% if post.description %}<p>{{ post.description }}</p>{% endif %}
    <span class="card-more">Weiterlesen →</span>
  </a>
{% endfor %}
</div>
